@model Domain.Entities.Agendamento
@{
    ViewData["Title"] = "Criar Agendamento";
}

<div class="text-center">
    <h1 class="display-4">Cadastrar Agendamento</h1>
</div>


<form asp-controller="AgendamentoWeb" asp-action="Adcionar" method="post">

    <div class="form-group">
        <label for="nome" class="form-label">Agendamento</label>
        <input type="text" asp-for="data_agendamento" class="form-control" placeholder="Data do Agendamento: ">
        @Html.ValidationMessageFor(x => x.data_agendamento)
    </div>

    <div class="form-group">
        <label for="nome" class="form-label">Atendimento</label>
        <input type="text" asp-for="data_atendimento" class="form-control" placeholder="Data do atendimento">
        @Html.ValidationMessageFor(x => x.data_atendimento)
    </div>
    <br>
    <button type="submit" class="btn btn-primary btn-block">Adcionar</button>
    <a class="btn btn-secondary btn-block" asp-action="Index" asp-controller="AgendamentoWeb" role="button">Voltar</a>
  

</form>
