@model Domain.Entities.TabelaPreco
@{
    ViewData["Title"] = "Criar Tabela Preco";
}

<div class="text-center">
    <h1 class="display-4">Editar tabela preco</h1>
</div>


<form asp-controller="TabelaPrecoWeb" asp-action="Atualizar" method="post">

    <input type="hidden" asp-for="id_tabela_preco" />
    <div class="form-group">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" asp-for="nome_procedimento" class="form-control" placeholder="Digite o nome do procedimetno">
        @Html.ValidationMessageFor(x => x.nome_procedimento)
    </div>

    <div class="form-group">
        <label for="nome" class="form-label">Valor</label>
        <input type="text" asp-for="valor" class="form-control" placeholder="Digite o valor do procedimento">
        @Html.ValidationMessageFor(x => x.valor)
    </div>

    <div class="form-group">
        <label for="nome" class="form-label">Descricao</label>
        <input type="text" asp-for="descricao" class="form-control" placeholder="Digite a Descricao">
        @Html.ValidationMessageFor(x => x.descricao)
    </div>
    <br>
    <button type="submit" class="btn btn-primary btn-block">Alterar</button>
    <a class="btn btn-secondary btn-block" asp-action="Index" asp-controller="TabelaPrecoWeb" role="button">Voltar</a>

</form>
