@model Domain.Entities.TabelaPreco
@{
    ViewData["Title"] = "Excluir tabela preco";
}
<div class="text-center">
    <h3>Realmente deseja apagar o nome do procedimento (@Model.nome_procedimento)?</h3>
</div>

<form asp-controller="TabelaPrecoWeb" asp-action="Excluir" method="post">
    <input type="hidden" asp-for="id_tabela_preco" />


    <br>
    <button type="submit" class="btn btn-primary btn-block">Excluir</button>
    <a class="btn btn-primary btn-block" asp-action="Index" asp-controller="TabelaPrecoWeb" role="button">Cancelar exclusão</a>

</form>


