@model Domain.Entities.ContasPagar
@{
    ViewData["Title"] = "Criar contas pagar";
}

<div class="text-center">
    <h1 class="display-4">Cadastrar contas pagar</h1>
</div>


<form asp-controller="ContasPagarWeb" asp-action="Adcionar" method="post">

    <div class="form-group">
        <label for="nome" class="form-label">Valor</label>
        <input type="text" asp-for="valor" class="form-control" placeholder="Digite o valor">
        @Html.ValidationMessageFor(x => x.valor)
    </div>

    <div class="form-group">
        <label for="nome" class="form-label">data emissao</label>
        <input type="text" asp-for="data_emissao" class="form-control" placeholder="Digite a data emissao">
        @Html.ValidationMessageFor(x => x.data_emissao)
    </div>

    <div class="form-group">
        <label for="nome" class="form-label">data vencimento</label>
        <input type="text" asp-for="data_vencimento" class="form-control" placeholder="Digite o vencimento">
        @Html.ValidationMessageFor(x => x.data_vencimento)
    </div>

    <br>
    <button type="submit" class="btn btn-primary btn-block">Adicionar</button>
    <a class="btn btn-secondary btn-block" asp-action="Index" asp-controller="ContasPagarWeB" role="button">Voltar</a>

</form>
