@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mb-5">
    <h1 class="display-4">Challenge Odontoprev C#</h1>
    <p>Integrantes do grupo: rm 553870 Thaís Ribeiro Asfur, rm 553771 Lucas Emanuel da Silva Basto, rm 552707 Leonardo Chaves da Silva</p>
</div>


<!-- Carrossel ocupa toda a largura da página -->
<div id="carouselExampleIndicators" class="carousel slide mb-5" data-ride="carousel" style="width: 100%; max-width: 100vw; overflow: hidden; margin: 0;">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="/css/Imagens/odontoprev-master-pme-cobre-proteses-e-aparelho.jpg.webp" style="height: 370px;" alt="Primeiro Slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="/css/Imagens/nova_odpv_banner_home_V1.jpg" style="height: 370px;" alt="Segundo Slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="/css/Imagens/companypagedetail_157d8c05-dfe4-4866-9bd3-5846173ad094 (1).png" style="height: 370px;" alt="Terceiro Slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>
<br>
<br>
<br>
<br>


<div class="container text-center mb-5">
    <h1 style="font-size: 3rem;"><b>QUEM SOMOS</b></h1>
    <p>
        <h4 style="font-size: 2rem;"> O Grupo OdontoPrev é composto por diversas marcas especializadas em atendimento exclusivamente odontológico, oferecendo soluções sob medida para pessoas e empresas em todo o Brasil. Com pioneirismo e liderança no setor, trabalhamos continuamente para promover saúde bucal de qualidade, com foco em inovação e excelência no atendimento</h4>
        <img class="d-block w-100" src="/css/Imagens/Captura_de_tela_2024-11-03_163418-removebg-preview.png" style="height: 190px; width:auto;" alt="Fotos">

    </p>
</div>
<p>
    <h1 style="text-center;font-size: 3rem;margin: 5px;"><b>A mais completa solução odontológica</b></h1>
    <h4 style=text:"text-center;font-size: 2rem;">
        Somos uma plataforma de cuidado e queremos te proporcionar liberdade de escolha em atendimento odontológico de qualidade. Nossos planos possuem ampla cobertura e a maior rede credenciada do Brasil, além de muitas vantagens e benefícios que tornam a sua experiência fluida, segura e descomplicada. Na Odontoprev você pode confiar!
    </h4>
            <img class=" w-100" src="/css/Imagens/Conforte-11-03_170101-removebg-preview.png" style="height: 190px; width:auto;" alt="Fotos">
</p>
<br>
<br>
<img class=" w-100" src="/css/Imagens/odontoooo.png" style="height: 320px; width:auto;" alt="Fotos">
<br>
<br>
<br>
<img class=" w-100" src="/css/Imagens/AAACaptura_de_tela_2024-11-03_171919-removebg-preview.png" style="height: 380px; width:auto;" alt="Fotos">
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row mb-5">
        <div class="col-sm-6">
            <div class="card h-100">
                <img class="card-img-top mx-auto" src="~/css/Imagens/unnamed.webp" style="width: 90%; height: auto; max-width: 200px;" alt="Imagem de capa do card">
                <div class="card-body text-center">
                    <h2 class="card-title">
                        <b> OdontoPrev na Palma da Sua Mão</b>
                    </h2>
                    <p class="card-text">Com nosso site otimizado para dispositivos móveis, você tem acesso fácil e rápido a todas as funcionalidades da OdontoPrev. Seja para marcar consultas, acompanhar procedimentos ou acessar benefícios, nossa plataforma mobile coloca a saúde bucal ao seu alcance, onde quer que você esteja.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card h-100">
                <img class="card-img-top mx-auto" src="~/css/Imagens/Captura de tela 2024-11-02 174911.png" style="width: 70%; height: auto; max-width: 350px;" alt="Imagem de capa do card">
                <div class="card-body text-center">
                    <h2 class="card-title"><b>A Importância do Fio Dental nos Dentes Posteriores</b></h2>
                    <p class="card-text">Manter uma boa higiene bucal vai além da escovação. Passar o fio dental nos dentes de trás é essencial para remover resíduos e prevenir o acúmulo de placa em áreas de difícil acesso, evitando cáries e doenças gengivais. Aprenda a usar o fio dental corretamente para uma limpeza completa.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid text-center mb-5" style="background-color: #007bff; color: white; padding: 20px;width: 100%;">
    <h3>Nos encontramos nas redes:</h3>
    <div class="d-flex justify-content-center align-items-center" style="gap: 20px;">
        <a href="https://www.instagram.com/odontoprevoficial/" target="_blank">
            <img src="~/css/Imagens/instagram.png" alt="logo instagram" style="width: 40px; height: 40px;">
        </a>
        <a href="https://www.youtube.com/watch?v=uNqoaTtYhS0" target="_blank">
            <img src="~/css/Imagens/youtube.png" alt="logo Youtube" style="width: 40px; height: 40px;">
        </a>
        <a href="https://www.facebook.com/photo/?fbid=1037287175106297&set=a.680411697460515&locale=pt_BR" target="_blank">
            <img src="~/css/Imagens/facebook.png" alt="logo Facebook" style="width: 38px; height: 38px;">
        </a>
    </div>
    <p class="mt-3">Copyright © 2024</p>
</div>




